.therapists-container {
    width: 75%;
    padding-top: 30px; /* Add padding on top */
    padding-right: 30px; 
    margin: auto;
  }
  
  .therapists-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as per your design */
    grid-gap: 20px; /* Adjust the gap between cards */
    justify-items: center; /* Align items horizontally to the center */
    padding-top: 30px;
  }
  
  .therapist-card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow */
    text-align: center; /* Align text within the card to the center */
  }
  
  .therapist-card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
  }
  
  .therapist-card h3 {
    margin: 0;
    font-size: 1.2rem;
    background-color: #f0f0f0;
  }
  
  .therapist-card p {
    margin: 5px 0;
    font-size: 0.9rem;
    background-color: #f0f0f0;
  }
  
  .therapist-card p:last-child {
    margin-bottom: 15px;
    background-color: #f0f0f0;
  }
  
  .book-button {
    background-color: #79b883;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .book-button:hover {
    background-color: #92da95;
  }
 
  
  .therapists-container {
    padding: 20px;
  }
  
  .therapist-names-container {
    background-color: #341616;
    padding: 10px;
  }
  
  .therapist-name {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
   
  .therapist-names{
    background-color: #341616;
  }

  .profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #f0f0f0;
  }
  .profile-picture{
    background-color: #f0f0f0;
  }