.therapists-container {
    width: 65%;
    margin: 0 auto; /* Center the container horizontally /
    display: flex;
    justify-content: flex-end; / Align the container to the right /
  }

  .therapists-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); / Adjust the number of columns as per your design /
    grid-gap: 20px; / Adjust the gap between cards /
    padding-top: 20px; / Add padding on top /
  }

  .therapist-card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); / Add a box shadow */
  }

  .therapist-card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .therapist-card h3 {
    margin: 0;
    font-size: 1.2rem;
  }

  .therapist-card p {
    margin: 5px 0;
    font-size: 0.9rem;
  }

  .therapist-card p:last-child {
    margin-bottom: 15px;
  }

  .book-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .book-button:hover {
    background-color: #45a049;
  }