.about-us-container {
  display: flex;
  flex-direction: row;
  padding-top:50px;

}

.about-us {
  flex: 1;
  margin-right: 20px;
  padding-left: 90px;

}
.about-us h1, .about-us p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  color:red(128, 128, 128, 0.432);

}

.about-us h1 {
  font-size: 2rem;
}

.foto1 {
  flex: 1;
}
.foto1 img {
  width: 100%;
  height: auto;


}
.learn-more button {
  background-color:rgba(0, 0, 0, 0.822);
  border: none;
  color:antiquewhite;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 4px;
}


