

.btn-contact {
  text-decoration: none;
}

.btn-edit {
    background-color: #45a2ff7a;
  color: #fff;
  width: 270px;
padding-bottom:10px ;
}

.btn-delete {
    width: 270px;
  background-color: #f1a2a2;
  color: #fff;
}

.btn-view {
  background-color: #a2ff459e;
  color: #fff;
  width: 270px;
}

.btn-contact {
    background-color: #3c9aff;
    color: #fff;
    text-decoration: none;
   margin-bottom: 20px;  
   width: 250px;
   height: 60px;
}
  
