.container {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #3a3a3a;
    text-align: center;
  }
  
  .styled-table {
    width: 50%;
    border-collapse: collapse;
    background-color: #ffffff7a;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    overflow: hidden;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
    text-align: left;
  }
  
  .styled-table thead th {
    background-color: #3acea2;
    color: #fff;
    text-align: center;
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #f2f2f2;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f36e;
  }
  
  .btn {
    border: none;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .btn-edit {
    background-color: #34badb;
    color: #fff;
  }
  
  .btn-delete {
    background-color: #e76d3c;
    color: #fff;
  }
  
  .btn-view {
    background-color: hsl(145, 63%, 49%);
    color: #fff;
  }

  
 .btn-contact {
    background-color: #c5e5e5;
    color: #333;
    width: 150px;
    font-size: 16px;
    font-weight: bold;
    display: block;
     margin: 0 auto;
  }
  
  